.task-list {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}

.task-list table {
    width: 100%;
    margin-bottom: 20px;
    background-color: #1d2b64;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.task-list table th,
.task-list table td {
    padding: 15px;
    text-align: left;
    white-space: nowrap;
}

.task-list table th {
    background-color: #0b1033;
}

.action-buttons i {
    cursor: pointer;
    margin-right: 10px;
    font-size: 1.2em;
}

.task-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.task-filter input,
.task-filter select {
    margin-bottom: 10px;
    width: 100%;
    max-width: 200px;
}

.modal-body p {
    margin-bottom: 10px;
}

.communication-entry {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#task-communications {
    max-height: 150px;
    /* Adjust the height to fit three items */
    overflow-y: auto;
}